html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: #000115;
}

body > #root {
    height: 100%;
    width: 100%;
    margin: 0;
    color: white;
    font-family: Tahoma, Geneva, sans-serif;
    /*overflow: hidden;*/
}

h1 {
    text-align: center;
    font-size: 3rem;
}

a {
    display: inline;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

a .normal {
    text-decoration: inherit;
}
