:root {
    background-color: #000f29;
    color: white;
    --radius: 500px;
    font-family: Tahoma, Geneva, sans-serif;
}

h1 {
    text-align: center;
    font-size: 3rem;
}


a {
    text-decoration: none;
    color: inherit;
}
